target
.settings
.classpath
.project
.ant_targets
.idea
local.xml
build
docs
tmp_import_*.jar
src/config/custom/config/Environment.properties
src/config/custom/config/Environment.properties.*
*.iml
rebel.xml
*~
.#*
.DS_Store
work
