<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0" >
    <link rel="shortcut icon" href="#file({'contentId': $filesContentId, 'filename':'/favicon16.png'})" sizes="16x16">
    <link rel="icon" href="#file({'contentId': $filesContentId, 'filename':'/favicon32.png'})" sizes="32x32">

    #set($searchPage = $m.context.site.top.content.pageLayout.selected.result-page.selected.contentId)
    #set($searchQuery = $m.request.httpRequest.getParameter("q"))

    #set($pageTitle = $!m.context.page.bean.name)
    #set($siteTitle = $!m.context.site.bean.name)
    #if($!pageTitle != "" && $!pageTitle != $!siteTitle)
        #set($pageTitle = $!siteTitle + " - " + $!pageTitle)
    #else
        #set($pageTitle = $!siteTitle)
    #end
    <title>$!pageTitle</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,700,300' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    #p_header_resources()

    #foreach($stylesheetContentId in $m.context.page.layout.stylesheets)
      <link rel="stylesheet" type="text/css" href="#link({"contentId": $stylesheetContentId, 'htmlEncodeLink': 'true'})">
    #end

    <script src="/js/com.atex.gong.paywall.membership.js"></script>

    <script src="#file({'contentId': $filesContentId, 'filename':'/aimatch_ad_server.js'})"></script>

    <style>
        h1 {
          text-transform:capitalize;
          font-size: 40px !important;
          font-weight: bold !important;
        }
        .title {
          position: relative;
          background: #fceef8;
          -moz-border-radius: 4px;
          border-radius: 4px;
          padding: 1em 1.5em;
          color: rgba(0,0,0, .8);
          text-shadow: 0 1px 0 #fff;
          line-height: 1.5;
          margin: 30px auto;
        }
        .title:before, .title:after {
          z-index: -1; 
          position: absolute; 
          content: "";
          bottom: 15px;
          left: 10px;
          width: 50%; 
          top: 80%;
          max-width:300px;
          background: rgba(0, 0, 0, 0.7); 
          box-shadow: 0 10px 8px rgba(0, 0, 0, 0.7);
          transform: rotate(-3deg);
        }
        .title:after {
          transform: rotate(3deg);
          right: 10px;
          left: auto;
        }
    </style>

  </head>
  <body>
    <div class="navbar navbar-custom navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="logo"></span>
          <a class="navbar-brand" href="#link({"contentId": $m.context.page.contentPath.headContent, 'htmlEncodeLink': 'true'})">
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <div class="navbar-form navbar-right" role="form"></div>
          <ul class="nav navbar-nav navbar-right">
            #foreach($topPage in $m.local.topPages)
              #if($m.context.page.contentPath.contains($topPage.contentId.contentId))
                #set($active = " class='active'")
              #else
                #set($active = "")
              #end
              <li$!active><a href="#link({"path": $p_path.resolve($topPage.contentId), 'htmlEncodeLink': 'true'})">$topPage.name</a></li>
            #end
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="title">
            <h1>$m.context.site.bean.name</h1>
          </div>
          #if(!$m.context.page.pathAfterPage.empty)
          <div class="default-layout">
            <section class='article'>
            #render({"content": $m.context.page.pathAfterPage.get(0)})
            </section>
          </div>
          #else
          <section class='main-slot'>
            #if("$!searchQuery" != "")
              #render({"content": $content, "outputTemplate": "com.atex.plugins.search.SearchResults.ot" })
            #elseif($content.left)
              #render({"content": $content.left})
            #end
          </section>
          #end
          <br>
          <br>
          <p>&copy; NZME. Campaign $date.get("yyyy")</p>
        </div>
      </div>

    </div>
  #p_footer_resources()
  <script>
      #set($ratios = [1, 2])
      #set($widths = [57, 90, 188, 360, 750])
      new Imager({
        lazyload:true,
        availableWidths: function(image) {
          var params = {
            #foreach($ratio in $ratios)
                #set($ratioHasNext = $velocityHasNext)
                #foreach($width in $widths)
                    #set($imageWidth = $math.round($math.mul($ratio, $width)))
                    #set($query = $tool_img.getQueryBuilder().width($imageWidth).build())
                    $imageWidth : '$query' #if( $ratioHasNext || $velocityHasNext ),#end
                #end
            #end
          };

          var containerWidth = image.clientWidth;
          var ratio = Imager.getClosestValue(Imager.getPixelRatio(), $ratios);
          var width = Imager.getClosestValue(containerWidth, $widths);

          var imageWidth = Math.round(width * ratio);
          return params[imageWidth];
        }
      });
  </script>
  #if(!$m.request.preview.inPreviewMode)
    #log({"statisticsContext": $m.request.statisticsContext})
  #end
  </body>
</html>
